<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quanta.vi.mapper.NewsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.quanta.vi.entity.News">
        <id column="id" property="id" />
        <result column="request_url" property="requestUrl" />
        <result column="category1" property="category1" />
        <result column="category2" property="category2" />
        <result column="title" property="title" />
        <result column="abstract" property="abstract" />
        <result column="body" property="body" />
        <result column="pub_time" property="pubTime" />
        <result column="images" property="images" />
    </resultMap>

</mapper>
