<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quanta.vi.mapper.SentenceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.quanta.vi.entity.Sentence">
        <id column="id" property="id" />
        <result column="word_id" property="wordId" />
        <result column="vi_sentence" property="viSentence" />
        <result column="ch_sentence" property="chSentence" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

</mapper>
