<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quanta.vi.mapper.UserConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.quanta.vi.entity.UserConfig">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="group_size" property="groupSize"/>
        <result column="first_type" property="firstType"/>
        <result column="second_type" property="secondType"/>
        <result column="third_type" property="thirdType"/>
        <result column="timing_duration" property="timingDuration"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

</mapper>
